<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>    
</head>

<body>
    <h1>Delete the product named {{name}}</h1>

    <h3>Are you sure to delete the product</h3>

    <div>
        <button id="delBtn">Delete</button>
        <a id="getBackLink" href="/">Get back to main page</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
           $("#delBtn").click(function (e) {
            e.preventDefault();
           //alert("Value: {{id}}" )
            $.ajax({
                url : "/product/delete/{{id}}",
                type : "DELETE",
                success : function (result) {
                    alert("The product has been deleted succesfully")
                    window.location.href = "/product-list"
                },
                error : function (result) {
                     alert("An error occured during delete the product")
                }
            })
        });
    </script>
</body>

</html>