<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            padding: 25px;
        }
        h1 {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Products</h1>
    <hr>
   <div id="results"></div>
   <p id="routing"></p>
    <script>
        fetch("http://localhost:8080/products").then((res) => {
            return res.json()
        }).then((response) => {
            var results = document.getElementById("results")
            if (Object.entries(response).length === 0) {
                results.innerHTML = `<h2> ****** There is no product to show ****** </h2>` + "<hr>" + "<br>"
            }else{
                response.reverse().forEach((e) => {               
                results.innerHTML += `<h3>${e.name}</h3>` + "<br>"
               results.innerHTML += `<a href = "/product/${e._id}"><img src ="${e.image_link}" width = 350 height = 300</a>` + "<br>"
               results.innerHTML += `<p style = "font-size : 25px"> Price : $ ${e.price} </p>` 
               {{!-- results.innerHTML += `<a style="text-decoration-line:None;font-size:20px" href="/product/update/${e._id}">Update the product</a>` + "<br><br>" --}}
               results.innerHTML += `<a style="text-decoration-line:None;font-size:20px" href="/product/delete/${e._id}">Delete the product</a>` + "<hr>"
            })
            }
            
           var routing = document.getElementById("routing")
           routing.innerHTML = `<a style = "text-decoration-line : None;font-size : 25px" href = "/"><b><p>Get back to main page</p></b></a>`

            

        })
    </script>
</body>
</html>